1. 튜플과 리스트의 차이에 대하여 설명하시오.
튜플과 리스트는 기본적으로 비슷하다.
- 차이점
리스트는 []대괄호로 생성을 한다.
튜플은 ()소괄호로 생성을 한다.
리스트는 mutable 속성을 가진다.
튜플은 immutable 속성을 가진다.
리스트는 수정이 가능하고, 튜플은 불가하다.

2. 아래의 에러가 나는 이유는?
>> t = (1, 2, 3)
>> t[0] = 'a'

`t` 의 데이터 타입이 튜플이기 때문에 수정이 불가하하다.

3.  t = 1, 2, 3, 4  
    t의 데이타 타입은?

    튜플


4.리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44] 
for문을 사용해서 리스트의 음수를 출력하라.


5.for문을 사용해서 3의 배수만을 출력하라.
리스트 = [3, 100, 23, 44]

6.리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]

출력)
12
18

7.월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.


2002
2006
2010
...
2042
2046
2050

8.99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.

9.
for문을 사용해서 아래와 같이 출력하라.

10.1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

11.1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

12 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]

0 32100
1 32150
2 32000
3 32500

리스트를 아래와 같이 출력하라.

13.my_list = ["가", "나", "다", "라", "마"]
가 나 다
나 다 라
다 라 마

14.리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

15.
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
101호	102호
201호	202호
301호	302호

정답 : apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ] 

16.
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

시가	종가
100	80
200	210
300	330
pri = [[100,80],[200,210],[300,330]]


17. 모듈에 대하여 설명하시오.

 - 함수, 모듈, 클래스를 담은 파일이다.

18.아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")

hello 함수가 정의 되기 전에 사용이 됐다.
컴퓨터에서는 없는 함수를 불러오는게 되기 때문에 오류가 생긴다.

19.
아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

20. 아래가 에러가 나는 이유와 수정을 하시오.
print(sep = ' _ ', 1, 2, 3, , end = ' m^^m ')

sep, end 함수는 print함수 값 뒤쪽에 위치해야 한다.
수정 : print( 1, 2, 3, , end = ' m^^m ', sep = ' _ ')



세줄요약)
튜플은 리스트와 유사하지만 데이터 갱신및 삭제가 불가능하다.
모듈은 from 과 import 두개의 문법용어가 있다.
함수 호출시 이름을 지정해 값을 전달 할수 있다.

https://wikidocs.net/7030

In [75]:
#4.리스트에는 네 개의 정수가 저장돼 있다.
#for문을 사용해서 리스트의 음수를 출력하라.

a = [3, -20, -3, 44] 
for i in range(len(a)):
    if a[i] > 0:
        continue 
    print(a[i])

-20
-3

In [76]:
# 5.for문을 사용해서 3의 배수만을 출력하라.
a = [3, 100, 23, 44]
for i in range(len(a)):
    if a[i] % 3 != 0:
        continue 
    print(a[i])

3

In [74]:
#6.리스트에서 20 보다 작은 3의 배수를 출력하라

a = [13, 21, 12, 14, 30, 18]

for i in range(len(a)):

    if a[i] % 3 != 0:
        continue 
    elif a[i] < 20:
        print(a[i])

12
18

In [29]:
#7.월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

print(list(range(2002,2051,4)))

[2002, 2006, 2010, 2014, 2018, 2022, 2026, 2030, 2034, 2038, 2042, 2046, 2050]

In [77]:
#8.99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
a = 100
while True:
    a -=1
    print(a)
    if a<1:
        break

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [68]:
#9.for문을 사용해서 아래와 같이 출력하라.
a = 0.1
for i in range(1,10):
    print("0.%d"%i)


a = 0.1
for i in range(1,10):
    print(a *i)
    a = 0.1

for i in range(1,10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [39]:
# 10.1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.
sum = 0
for i in range(1,11):
    if i % 2 != 0:
         sum=sum + i

print(sum)

25

In [42]:
#11.1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

sum = 1
for i in range(1,11):
    sum = sum * i

print(sum)

3628800

In [78]:
#12 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
    print (i,price_list[i])




'''
0 32100
1 32150
2 32000
3 32500
'''
#리스트를 아래와 같이 출력하라.

0 32100
1 32150
2 32000
3 32500

'\n0 32100\n1 32150\n2 32000\n3 32500\n'

In [80]:
#13.my_list = ["가", "나", "다", "라", "마"]
#가 나 다
#나 다 라
#다 라 마
my_list = ["가", "나", "다", "라", "마"]
a = 0
for i in range(len(my_list)):
    if a < 3:
        print(my_list[a:a+3])
        a +=1

['가', '나', '다']
['나', '다', '라']
['다', '라', '마']

In [81]:
#14.리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
 #첫 번째 줄에는 100, 200, 400의 평균값이 출력된다.
#  두 번째 줄에는 200, 400, 800의 평균값이 출력된다.
#  같은 방식으로 나머지 데이터의 평균을 출력한다.
my_list = [100, 200, 400, 800, 1000, 1300]
a = 0
while a < len(my_list) :
    if a+2 > 5:
        break
    num_1= my_list[a]
    num_2= my_list[a+1]
    num_3= my_list[a+2]
    avg = (num_1 + num_2 + num_3 )/3
    print(avg)

    a +=1

#233.33333333333334
#466.6666666666667
#733.3333333333334
#1033.3333333333333

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
#15.아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.
#101호	102호
#201호	202호
#301호	302호
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]